@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fraunces", serif;
}

body {
    max-width: 1440px;
    min-height: 100vh;
    background: rgb(251, 246, 239);
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    width: 100%;
}


.sidebar {
    border-right: 1px solid #cdcdcd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.logo {
    border-bottom: 1px solid #d8d5d5;
}

.logo a img {
    width: 100px;
}


main {
    padding: 20px;

}




.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.attribution {
    margin-top: auto;
}

.guest-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.guest-nav li a{
    text-decoration: none;
    color: #676666;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px;
}


.guest-nav li a:hover {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    
}

.guest-nav li a:active{
    border: 2px solid #b6421b;
}

.logo-color {
    color: #b6421b;
}

.guest-nav .active  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}


.badge {
    background: hsl(15, 74%, 41%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
}


.weather-card {
    background: hsl(45, 100%, 74%);
    margin-bottom: 30px;
    padding: 9px;
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.weather-location, .weather-desc {
    font-size: 0.85rem;
    color: #868584;
    
}

.weather-temp {
    padding: 5px 0;
    font-weight: 500;
    color: #4d4d4d;
}

.sun-logo {
    position: absolute;
    top: -20px;
    right: -10px;
    width: 65px;
}

.sidebar-footer {
    border-top: 1px solid #c8c8c8;
    padding-top: 30px;
    color: #959595;
}

.sidebar-footer p{
    padding: 5px 0;
    font-size: 0.95rem;
}


.bottom-content {
    margin-top: auto;
}

.dashboard {
    width: 100%;
    padding: 20px;
}



.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}


.booking-confirmed {
    font-size: 0.70rem;
    color: #868584;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: inline-block;
}

.booking-title {
    color: #5e5d5d;
    font-weight: 600;
}

.btn {
    padding: 7px 30px;
    background: transparent;
    border: 1px solid #959595;
    border-radius: 20px;
    font-size: 0.70rem;
    cursor: pointer;
}

.add-btn {
    background: #2c2721;
    color: #f1ede9;
}

.btn:hover {
    border: 1px solid #b6421b;
}

.card-container {
    display: flex;
    align-items: center;
    margin: 30px;
    
}

.booking-card {
    background: #fff;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 30px 10px rgb(0, 0, 0, 0.1);
    
}

.booking-card-header {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.receipt-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #898888;
}
 .receipt-box span {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
 }

.booking-card-header h3 {
    color: #5e5d5d;
    font-size: 1.2rem;
    font-weight: 500;
}

.date-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 20px;
    text-align: center;
}

.date-container p {
    font-size: 13px;
    color: #787878;
    text-align: center;
    padding: 5px 0;
}

.date-container h3 {
    color: #5b5a5a;
    font-weight: 500;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #606060;
    font-size: 14px;
    border-bottom: 1px solid #2c2721;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


.price-name-list p, .price-list p {
    padding: 7px 0;
}

.total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.total-price h3 {
    font-size: 1.4rem;
    font-weight: 500;
}

.total-price p, .barcode-container p {
    color: #767474;
    font-weight: 400;
}

.barcode-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barcode-container img {
    width: 80px;
}